<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
        Product Name:<input type="text" name="pnm" value='{{mydata.prod_name}}'></br>
        Product Details:<input type="text" name="pdt" value='{{mydata.prod_details}}'></br>
        Product Price:<input type="number" name="ppr" value='{{mydata.prod_price}}'></br>
        Product Qty:<input type="number" name="pqt" value='{{mydata.prod_qty}}'></br>
        Product Img<input type="file" name="files123" value='{{mydata.prod_image}}'></br>
        <input type="submit"/>
        </form>
    </body>
</html>