<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{mydata.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

{{#each mydata}}
    <tr>
    <td class="counterCell"></td>
    <td>{{emp_name}}</td>
    <td>{{emp_mobile}}</td>
    <td>{{emp_age}}</td>
    <td>{{emp_salary}}</td>
    <td>
        <a href="/editemp/{{_id}}">Edit</a> |
        <a href="/deleteemp/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>