<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{mydata.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>Admin Name</th>
            <th>Admin Username</th>
            <th>Admin Password</th>
            <th>Action</th>
    </tr>

{{#each mydata}}
    <tr>
    <td class="counterCell"></td>
    <td>{{admin_name}}</td>
    <td>{{admin_user}}</td>
    <td>{{admin_pass}}</td>
    
    <td>
        <a href="/editadmin/{{_id}}">Edit</a> |
        <a href="/deleteadmin/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>